@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

html {
  background-image: url('./views/nature.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}
